@import '../styles/core/variables';

.card {
  display: flex;
  justify-content: center;
  background-color: $secondColor;
  &__detail {
    margin-left: 10px;
  }
  &__article {
    margin: 20px;
  }
}
