@import '../styles/core/variables';
.header {
  background-color: $primeColor;
  text-align: center;
  width: 100vw;
  &__img {
    width: 300px;
    height: 150px;
  }
  &__input {
    margin-bottom: 20px;
  }
}
