.header {
  background-color: #262c3a;
  text-align: center;
  &__img {
    width: 300px;
    height: 150px;
  }
  &__input {
    margin-bottom: 10px;
  }
  &__input:focus {
    background-color: 262c3a;
  } //no sé poque no me funciona
}
