@import '../styles/core/variables';

.main {
}

.list {
  background-color: $thirdColor;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__character {
    background-color: $secondColor;
    margin: 3px;
    border: 2px solid $primeColor;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img {
      margin: 5px;
      width: 125px;
      border-radius: 25px;
    }
  }
}
