@import '../styles/core/variables';

.list {
  background-color: $thirdColor;
  padding: 10px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }

  &__character {
    padding: 10px;
    background-color: $secondColor;
    margin: 5px;
    border: 3px solid $primeColor;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__name {
      font-family: $primeFontFamily;
      font-size: 20px;
    }
    &__rest {
      font-family: $secondFontFamily;
    }

    &__img {
      margin: 5px;
      width: 150px;
      border-radius: 25px;
    }
  }
}
.character {
  text-decoration: none;
  color: $primeColor;
  text-align: center;
}
